{% assign d = site.data.specs[include.device] %}
<style>
table.spec-table {
  width: auto;
}

table.spec-table tr.header:nth-child(odd) {
  background-color: #151515;
}
table.spec-table tr.header:nth-child(even) {
  background-color: #151515;
}

table.spec-table tr:nth-child(even) {
  background-color: #333333;
}

table.spec-table th {
  text-align: right;
  border-bottom: none;
}

table.spec-table tr.header th {
  padding-top: 1em;
  text-align: center;
}

table.spec-table th div {
  text-align: center;
  display: inline-block;
}

table.spec-table td {
  text-align: left;
}

table.spec-table h3 {
  text-decoration: none;
  border-bottom: 1px dashed #b5e853;
  width: fit-content;
  margin: auto;
}

table.spec-table img {
}
</style>
<table class="spec-table">
  <tr>
    <td></td>
    <td><img height="100" src="/img/logos/{{ d.name|downcase }}.png"></td>
  </tr><tr>
    <th>Name</th>
    <td>{{ d.name }}{% if d.variant != "" %}({{ d.variant }}){% endif %}</td>
  </tr><tr>
    <th>Manufacturer</th>
    <td>{{ d.manufacturer }}</td>
  </tr><tr>
    <th>Status</th>
    <td>{{ d.status }}</td>
  {% if d.status == "For sale" %}
  </tr><tr>
    <th></th>
    <td><a href="{{ d. }}">Buy now!</a></td>
  {% endif %}
  {% if d.status == "Crowdfunding" %}
  </tr><tr>
    <th></th>
    <td><a href="{{ d. }}">Back now!</a></td>
  {% endif %}
  </tr>
  <!-- ====================== -->
  <tr class="header">
    <th colspan="2"><h3>Microprocessor</h3></th>
  </tr><tr>
    <th>Architecture</th>
    <td>{{ d.microprocessor_architecture }}</td>
  </tr><tr>
    <th>Manufacturer</th>
    <td>{{ d.microprocessor_manufacturer }}</td>
  </tr><tr>
    <th>Part</th>
    <td><a href="{{ d.microprocessor_part_link }}">{{ d.microprocessor_part }}</a></td>
  </tr><tr>
    <th>Datasheet</th>
    <td>{{ d.microprocessor_datasheet }}</td>
  </tr><tr>
    <th>Class</th>
    <td>{{ d.microprocessor_class }}</td>
  </tr><tr>
    <th>Frequency</th>
    <td>{{ d.microprocessor_mhz|round }} MHz (Max)</td>
  </tr><tr>
    <th>Benchmarks</th>
    <td>{{ d.microprocessor_coremark_mhz|round }} CoreMark/MHz, {{ d.microprocessor_dmips_mhz|round }} DMips/MHz</td>
  </tr>
  <!-- ====================== -->
  <tr class="header">
    <th colspan="2"><h3>Storage</h3></th>
  </tr><tr>
    <th>Memory</th>
    <td>{{ d.storage_memory|round }} kilo<b>bytes</b></td>
  </tr><tr>
    <th>Flash</th>
    <td>{{ d.storage_flash|round }} kilo<b>bytes</b></td>
  </tr>
  <!-- ====================== -->
  <tr class="header">
    <th colspan="2"><h3>Toolchain Support</h3></th>
  </tr><tr>
    <th>Bare Metal C</th>
    <td>{{ d.software_bare_metal_c }}
     (<a href="https://gcc.gnu.org">GCC</a>: {{ d.software_gcc_status }}, <a href="https://llvm.org">LLVM</a>: {{ d.software_llvm_status }})
    </td>
  </tr><tr>
    <th><a href="https://rust-embedded.github.io/book/">Embedded Rust</a></th>
    <td>{{ d.software_bare_metal_rust }}</td>
  </tr>
  <!-- ====================== -->
  <tr class="header">
    <th colspan="2"><h3>Software Support</h3></th>
  </tr><tr>
		<th><div><a href="https://www.zephyrproject.org/"><img src="/img/logos/external/zephyr.png"><br>Zephyr</a></div></th>
    <td>{{ d.software_zephyr }}</td>
  </tr><tr>
		<th><div><a href="https://micropython.org/"><img src="/img/logos/external/micropython.png"><br>MicroPython</a></div></th>
    <td>{{ d.software_micropython }}</td>
  </tr><tr>
    <th><div><a href="https://circuitpython.org/"><img src="/img/logos/external/circuitpython.png"><br>CircuitPython</a></div></th>
    <td>{{ d.software_circuit_python }}</td>
  </tr><tr>
    <th><div><a href="https://nuttx.org/"><img src="/img/logos/external/nuttx.png"><br>NuttX</a></div></th>
    <td>{{ d.software_nuttx }}</td>
  </tr>
  <!-- ====================== -->
  <tr class="header">
    <th colspan="2"><h3>Emulation Support</h3></th>
  </tr><tr>
		<th><div><a href="https://qemu.org/"><img src="/img/logos/external/qemu.png"><br>QEMU</a></div></th>
    <td>{{ d.emulation_qemu }}</td>
  </tr><tr>
    <th><div><a href="https://renode.io/"><img src="/img/logos/external/renode.png"><br>Renode</a></div></th>
    <td>{{ d.emulation_renode }}</td>
  </tr><tr>
    <th><div><a href="https://verilator.org/"><img src="/img/logos/external/verilator.png"><br>Verilator</a></div></th>
    <td>{{ d.emulation_verilator }}</td>
  </tr>
  <!-- ====================== -->
  <tr class="header">
    <th colspan="2"><h3>Security Key Support</h3></th>
  </tr><tr>
    <th>U2F</th>
    <td>{{ d.software_u2f }}</td>
  </tr><tr>
    <th>FIDO2</th>
    <td>{{ d.software_fido2 }}</td>
  </tr><tr>
    <th>Secure Key Storage</th>
    <td>{{  }}</td>
  </tr><tr class="header">
    <th colspan="2"><h4>Crypto</h4></th>
  </tr><tr>
    <th>Crypto Acceleration</th>
    <td>{{ d.crypto_acceleration }}</td>
  </tr><tr>
    <th>Hardware Random Number Generator</th>
    <td>{{ d.crypto_random_number_generator }}</td>
  </tr>
  <!-- ====================== -->
  <tr class="header">
    <th colspan="2"><h3>Links</h3></th>
  </tr><tr>
    <th>Schematics</th>
    <td>{{ d.links_schematics }}</td>
  </tr><tr>
    <th>Bootloader Code</th>
    <td>{{ d.links_bootloader }}</td>
  </tr><tr>
    <th>Quick Start Code</th>
    <td>{{ d.links_quickstart }}</td>
  </tr>
</table>
