<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    <link rel="apple-touch-icon" sizes="57x57" href="/img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icon/favicon-16x16.png">
    <link rel="manifest" href="/img/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <header>
<style>
div.header {
  margin-left: 4em;
}
div.header h1 {
  border: none;
}
div.header h1 a {
  color: #b5e853;
  text-decoration: none;
}
div.header-logos {
  margin: auto auto;
  overflow: hidden;
  float: right;
  height: 5em;
  margin-right: 2em;
}
img.header-logo {
  style: block;
  height: 100%;
  padding: 2px;
}


h1 {
 border-bottom: 1px dashed #b5e853;
 margin-top: 1em;
 margin-bottom: 5px;
}

h2, h3, h4, h5, h6 {
 margin-bottom: 0;
}
</style>
      <div class="header">
        <div class="header-logos">
          <a href="/tomu.html"><img class="header-logo" src="/img/logos/tomu.png"></a>
	  <a href="/fomu.html"><img class="header-logo" src="/img/logos/fomu.png"></a>
	  <a href="/qomu.html"><img class="header-logo" src="/img/logos/qomu.png"></a>
	  <a href="/somu.html"><img class="header-logo" src="/img/logos/somu.png"></a>
	  <a href="/womu.html"><img class="header-logo" src="/img/logos/womu.png"></a>
	  <a href="/bomu.html"><img class="header-logo" src="/img/logos/bomu.png"></a>
        </div>
        <h1><a href="https://tomu.im">I'm Tomu</a></h1>
        <h2>A family of devices which fit inside your USB port!</h2>
      </div>
    </header>

<style>
div.container {
  max-width: 90%;
}
</style>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
